<div class="container_menu">
    <div class="menu">
        <h1>HMA</h1>

        <div class="glyphicon glyphicon-list-alt"></div>
        <p>Dashboard</p>
        
        <div class="material-icons">people_outline</div>
        <p>Clients</p>
        
        <div class="fa fa-file-text-o"></div>
        <p>Documents</p>
        
        <div class="fa fa-tasks"></div>
        <p>Tasks</p>
        
        <div class="material-icons">payment</div>
        <p>Payments</p>

        <div class="material-icons present">people_outline</div>
    </div>
</div>